body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    line-height: 1.6;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(104, 109, 218);
}

.container{
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
}

h3{
    color: rgb(0, 0, 0, 0.5);
    letter-spacing: 2px;
    padding-bottom: 15px;
}

.txt{
    font-size: 26px;
    padding-bottom: 15px;
}

.btn{
    background-color: rgb(144, 94, 199);
    font-size: 18px;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    color: white;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.3);
    border: 0;
}